/*
  #A5A7BB
  #536FFF
*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}

h1.display {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  color: #FFFFFF;
  letter-spacing: 7.5px;
}



h3 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin-bottom: 10px;
}

p.caption {
  font-family: 'PT Serif', serif;
  font-style: itaic;
  font-size: 12px;
  text-align: center;
}


.home-container {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.home-container section {
  margin-bottom: 64px;
}

.home-container section:last-child {
  margin-bottom: 0;
}

.separator {
  width: 64px;
  height: 4px;
  margin: 64px auto;
  background-color: #F2C926;
}

.cover {
  background-color: #101423;
  color: #000000;
  text-align: center;
  width: 340px;
}

.work {
  width: 575px;
}

.work-list {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -webkit-column-gap: 64px; /* Chrome, Safari, Opera */
  -moz-column-gap: 64px; /* Firefox */
  column-gap: 64px;
}

.excerpt {
  margin-bottom: 32px;
}

a.more {
  margin: 0;
  color: #F2C926;
}



/* Typography */

h1.display {
  font-family: 'Montserrat';
  font-size: 44px;
  color: #FFFFFF;
  letter-spacing: 7.5px;
}


html, body {
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin-bottom: 10px;
}





h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

a {
  color: inherit;
}

/* General */

.content {
  width: 700px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
.outer-wrapper {
  position: fixed;
  width: 100%;
}

.outer-content {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.back {
  width: 75px;
  height: 75px;
  background: whitesmoke;
}
*/


/* Header */

header {
  height: 80px;
  padding-top: 30px;
  background: #F1F1F1;
  color: #AAA;
}

header .logo {
  float: left;
}

header .logo a {
  display: block;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

header nav {
  float: right;
}

header nav a {
  margin-left: 25px;
  text-decoration: none;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

header .logo a:hover,
header nav a:hover {
  color: #ff5959;
}

header .logo a,
header nav a {
  font-weight: 700;
  text-decoration: none;
}


/* Footer */

footer {
  padding: 100px 0 50px;
  font-size: 11px;
  text-align: center;
  color: #AAA;
}


/* Intro */

.home .lead {
  text-align: center;
}

.intro-abridged {
  display: none;
}

.intro-links a {
  margin-right: 10px;
}

.intro-links a:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 20px;
  font-size: 14px;
}


/* Excerpts */

.work-list {
  margin-top: 150px;
}

.excerpt {
  float: left;
  width: 48%;
  margin: 20px auto;
  position: relative;
}

.excerpt:nth-child(odd) {
  margin-right: 4%;
}

.excerpt a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px 10px;

  text-decoration: none;

  -webkit-transition: box-shadow .25s;
  -moz-transition: box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
}

.excerpt a:hover {
  /*box-shadow: 0px 1px 2px #ccc;*/
}

.excerpt-text {
  margin-left: 70px;
}

.excerpt-icon {
  position: absolute;

  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.excerpt-icon.icon-gray,
.excerpt a:hover .excerpt-icon.icon-color {
  opacity: 1;
}

.excerpt-icon.icon-color,
.excerpt a:hover .excerpt-icon.icon-gray {
  opacity: 0;
}

.excerpt .title {
  margin-top: 0;
  margin-bottom: 5px;
}

.excerpt .tagline {
  margin: 0;
  color: #aaa;
}


/* About */

.about .lead {
  text-align: center;
}

.about.content .lead p {
  text-align: left;
}


/* Work */

.work .lead {
  text-align: center;
}

.work.content .lead p {
  text-align: left;
}


/* Project */

.project .lead h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.project .lead .tagline {
  margin: 0;
  color: #aaa;
  font-size: 20px;
}

.project .meta {
  margin-top: 25px;
  font-size: 14px;
}

.project .meta p {
  margin-top: 0;
  margin-bottom: 0;
}

.continue {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #AAA;
}

.note {
  background: #fff0d7;
  padding: 15px;
}

.note p {
  margin: 0;
}

.figure,
.quote {
  margin-top: 50px;
  margin-bottom: 50px;
}

.figure.mobile {
  width: 50%;
  margin: auto;
}

.figure img {
  width: 100%;
}

.figure .caption {
  margin: 0;
  font-size: 12px;
}

.quote {
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Permanent Marker";
  font-size: 20px;
}

.quote .attribution {
  text-align: right;
}

sup a {
  color: #ff6153;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid #c0c0c0;
}


/* Utility */

.clear:after {
  clear: both;
  display: table;
  content: "";
}

img.round {
  border-radius: 100px;
}

img.border {
  border: 1px solid #e3e3e3;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* SD size */
@media only screen
and (max-width : 1024px) {

}

/* Tablet-ish size */
@media only screen
and (max-width : 750px) {

  .excerpt {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .excerpt a {
    box-shadow: 0px 1px 2px #ccc;
  }

}

/* Breaking content width */
@media only screen
and (max-width : 700px) {

  .content {
    width: auto;
  }

}

/* Mobile-ish size */
@media only screen
and (max-width : 400px) {

  .intro {
    display: none;
  }

  .intro-abridged {
    display: block;
  }

  .figure.mobile {
    width: 100%;
  }
}
