

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    color: #434d54;
    font-family: 'Domine', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

a {
    color: #F49322;
}


/** HOME PAGE **/

.chapters-wrapper {
    height: 100%;
}


/**
.chapter {
    height: 100%;
    display: flex;
}

.page {
    height: 100%;
    width: 50%;
    padding: 34px;
    display: flex;
    position: relative;
}
**/


.chapter {
    height: 100%;
}

.page {
    display: flex;
    position: relative;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 34px;
}

.page-left {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;

    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.page-right {
    left: 50%;
}

.intro .page-left,
.current .page-left {
    opacity: 100;
}



.page-left img {
    height: 90%;
    width: 90%;
    margin: auto;
}

.page-text {
    width: 500px;
    margin: auto;
}

.stat {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

.stat-caption {
    margin-top: 0;
}

/** PAGE STYLES **/

.intro .page-left {
    background: #F49322;
    opacity: 100;
}

.intro .salutation {
    text-align: center;
    margin-bottom: 100px;
}

.intro .scroll {
    text-align: center;
    margin-top: 100px;
}

.comments .page-left {
    background: #542B56;
}

.comments .page-right .stat,
.comments .page-right a {
    color: #542B56;
}

.signatures .page-left {
    background: #F49322;
}

.signatures .page-right .stat,
.signatures .page-right a {
    color: #F49322;
}

.tasks .page-left {
    background: #DD547D;
}

.tasks .page-right .stat,
.tasks .page-right a {
    color: #DD547D;
}

.procedures .page-left {
    background: #A23B72;
}

.procedures .page-right .stat,
.procedures .page-right a {
    color: #A23B72;
}


/** tablet **/
@media only screen
and (max-width : 768px) {
/**
    .chapter {
        height: auto !important;
        display: initial;
    }

    .page {
        height: auto;
        width: 100%;
    }

    .page-right {
        padding-top: 68px;
        padding-bottom: 68px;
    }
**/


    .chapter {
        height: auto !important;
    }

    .page {
        top: initial;
        width: 100%;
        height: auto;
    }

    .page-left {
        position: initial;
        opacity: 100;
    }

    .page-right {
        left: initial;
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .intro .scroll {
        display: none;
    }

}

/** PROJECT **/

.project {
    max-width: 700px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.project header {
    margin-top: 50px;
}

.project section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.project .lead h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.project .meta {
  margin-top: 25px;
  font-size: 14px;
  line-height: 26px;
}

.project .meta p {
  margin-top: 0;
  margin-bottom: 0;
}

.continue {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #AAA;
}

.note {
  background: #fff0d7;
  padding: 15px;
}

.note p {
  margin: 0;
}

.figure,
.quote {
  margin-top: 50px;
  margin-bottom: 50px;
}

.figure.mobile {
  width: 50%;
  margin: auto;
}

.figure img {
  width: 100%;
}

.figure .caption {
  margin: 0;
  font-size: 12px;
}

.quote {
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Permanent Marker";
  font-size: 20px;
}

.quote .attribution {
  text-align: right;
}

sup a {
  color: #F49322;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid #c0c0c0;
}




/** UTILITY **/

.clear:after {
  clear: both;
  display: table;
  content: "";
}

img.round {
  border-radius: 100px;
}

img.border {
  border: 1px solid #e3e3e3;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
