/*
  #A5A7BB
  #536FFF
*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typography */

html, body {
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

a {
  color: inherit;
}

/* General */

.content {
  width: 640px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
.outer-wrapper {
  position: fixed;
  width: 100%;
}

.outer-content {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.back {
  width: 75px;
  height: 75px;
  background: whitesmoke;
}
*/

/* Header */

header {
  height: 80px;
  padding-top: 30px;
  background: #F1F1F1;
  color: #AAA;
}

header .logo {
  float: left;
}

header .logo a {
  display: block;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

header nav {
  float: right;
}

header nav a {
  margin-left: 25px;
  text-decoration: none;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

header .logo a:hover,
header nav a:hover {
  color: #ff5959;
}

header .logo a,
header nav a {
  font-weight: 700;
  text-decoration: none;
}

/* Footer */

footer {
  padding: 100px 0 50px;
  font-size: 11px;
  text-align: center;
  color: #AAA;
}

/* Intro */

.home .lead {
  text-align: center;
}

.intro-abridged {
  display: none;
}

.contact {
  margin-top: 20px;
  font-size: 14px;
}


/* Excerpts */

.work {
  margin-top: 150px;
  text-align: center;
}

.excerpt {
  margin: 20px auto;
}

.excerpt a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px 10px;

  border: 1px solid white;
  text-decoration: none;

  -webkit-transition: background .25s;
  -moz-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
}

.excerpt a:hover {
  background: #fff0d7;
}

.excerpt .title {
  margin-top: 0;
  margin-bottom: 5px;
  color: #ff6153;
}

.excerpt p {
  margin: 0;
}

.excerpt .meta {
  margin: 0;
  padding: 0;
  color: #AAA;
}

.excerpt .meta li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}



/* About */

.about .lead {
  text-align: center;
}

.about.content p {
  text-align: left;
}

/* Project */

.project .lead h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.project .lead .tagline {
  margin: 0;
  color: #aaa;
  font-size: 20px;
}

.meta {
  margin-top: 25px;
  font-size: 14px;
}

.note {
  background: #fff0d7;
  padding: 15px;
}

.note p {
  margin: 0;
}

.figure,
.quote {
  margin-top: 50px;
  margin-bottom: 50px;
}

.figure img {
  width: 100%;
}

.figure .caption {
  margin: 0;
  font-size: 12px;
}

.quote {
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Permanent Marker";
  font-size: 20px;
}

.quote .attribution {
  text-align: right;
}

sup a {
  color: #ff6153;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid #c0c0c0;
}

/* Utility */

.clear:after {
  clear: both;
  display: table;
  content: "";
}

img.round {
  border-radius: 100px;
}

img.border {
  border: 1px solid #e3e3e3;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Tablet-ish size */
@media only screen
and (max-width : 1024px) {

  .excerpt a {
    border-color: #ff6153;
  }

}

/* Phone-ish size */
@media only screen
and (max-width : 720px) {

}

/* Breaking content width */
@media only screen
and (max-width : 640px) {

  .content {
    width: auto;
  }

}

/* Super small */
@media only screen
and (max-width : 420px) {

  .intro {
    display: none;
  }

  .intro-abridged {
    display: block;
  }
}
