

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    color: #434d54;
    font-family: 'Domine', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 8px 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

p.tagline {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #9D9D9D;
}

a {
    color: #434d54;
    font-style: underline;
}


/** HOME PAGE **/

.chapters-wrapper {
    height: 100%;
}

.chapter {
    height: 100%;
}

.page {
    display: flex;
    position: relative;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 32px;
}

.page-cover {
    position: fixed;
    left: 50%;
    top: 0;
    opacity: 0;

    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.page-cover img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.page-cover.full {
  padding: 0;
  overflow: hidden;
}

.page-cover.full img {
  object-fit: cover;
  margin: initial;
}

.page-info {
    left: 0;
}

.page-text {
    width: 500px;
    margin: auto;
}

.stat {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

.stat-caption {
    margin-top: 0;
}

/** PAGE STYLES **/

.intro .page-cover,
.current .page-cover {
    opacity: 100;
}

.intro .page-cover {
    background: #F49322;
}

.intro .page-cover img {
  height: 90%;
  width: 90%;
  margin: auto;
}

.intro .salutation {
    text-align: center;
    margin-bottom: 100px;
}

.intro .scroll {
    text-align: center;
    margin-top: 100px;
}

.jdpower .page-cover {
    background: #F53C3C;
}

.vlocity .page-cover {
    background: #0077F5;
}


/** tablet **/
@media only screen
and (max-width : 768px) {

    .chapter {
        height: auto !important;
    }

    .page {
        top: initial;
        width: 100%;
        height: auto;
    }

    .page-cover {
        position: initial;
        opacity: 100;
    }

    .page-info {
        left: initial;
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .intro .scroll {
        display: none;
    }

}

/** PROJECT **/

.project {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.project header {
    margin-top: 50px;
}

.project section {
  padding-top: 128px;
  padding-bottom: 128px;
}

.project section .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
}

.project section .row {
  margin-bottom: 128px;
}

.project section.lead .row:first-child {
  margin-bottom: 64px;
}

.project section .row:last-child {
  margin-bottom: 0;
}

.project section .extended {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.note {
  background: #fff0d7;
  padding: 15px;
}

.note p {
  margin: 0;
}

.extended .figure {
  line-height: 0;
}

.figure.offset-vertical {
  margin-top: 128px;
}

.figure.mobile {
  width: 50%;
  margin: auto;
}

.figure img {
  width: 100%;
  margin-top: 32px;
}

.figure img:first-child {
  margin-top: 0;
}

.figure.shadow img {
  box-shadow: 0 2px 16px 0 #CCCCCC;
}

.figure .caption {
  margin: 0;
  font-size: 12px;
}

.quote {
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Permanent Marker";
  font-size: 28px;
  line-height: 36px;
  color: #9D9D9D;
}

.quote .attribution {
  text-align: right;
}

.results {
  background: #FBFBFB;
  margin-left: -20px;
  margin-right: -20px;
}

.results .quote {
  margin-top: 100px;
}

sup a {
  color: #F49322;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid #c0c0c0;
}


/** tablet **/
@media only screen
and (max-width : 768px) {
  .project section .sticky {
    position: unset;
    position: unset;
    top: unset;
  }
}

/** mobile **/
@media only screen
and (max-width : 550px) {
  .figure.offset-vertical {
    margin-top: 32px;
  }
}

/** UTILITY **/

.clear:after {
  clear: both;
  display: table;
  content: "";
}

.light{
  color: #9D9D9D;
}

img.round {
  border-radius: 100px;
}

img.border {
  border: 1px solid #e3e3e3;
}

img.shadow {
  box-shadow: 0 2px 16px 0 #CCCCCC;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
