---
layout: default
title: Home
---

<div class="content">
  <div class="intro">
    <img id="portrait" src="assets/images/8bitchris.png" alt="this is me"/>
    <h1>Hi. I'm Chris - a <b>designer</b> and <b>developer</b>.</h1>
    <p>I like making things. I also enjoy learning and working with my hands.</p>
    <p>Currently, I'm designing things at <b>NASA Ames Research Center</b> in Mountain View, CA.</p>
    <ul>      
      <li><a href="http://github.com/cmuellerrr/" target="_blank">github</a></li>
      <li><a href="http://twitter.com/cmuellerrr/" target="_blank">twitter</a></li>
      <li><a href="http://linkedin.com/in/cmuellerrr/" target="_blank">linkedin</a></li>
      <li><a href="assets/resume.pdf" target="_blank">r&eacute;sum&eacute;</a></li>
      <li><a id="email" href="#">email</a></li>
    </ul>
  </div>

  <div class="projects">
    
    {% for post in site.posts %}
    
      <div class="excerpt">
        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        
        {% if post.image != null %}
          <img class="fill" src="{{ post.image }}">
        {% endif %}
        {% if post.vimeo != null %}
          <iframe class="fill" src="{{ post.vimeo }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
        {% if post.youtube != null %}
          <iframe class="fill" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}

        <p>{{ post.summary }} <span><a href="{{ post.url }}">(Read more)</a></span></p> 
      </div>
    
    {% endfor %}

  </div>  
</div>