/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* General */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body { 
  height: 100%;
  font-family: 'Avenir Next', 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333333;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #333333;
}

.content {
  width: 600px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

img.fill {
  width: 100%;
}

img.border {
  border: 1px solid #E3E3E3;
}

iframe.fill {
   width: 560px;
   height: 315px;
}

/* Intro */

.intro {
  text-align: center;
}

.intro ul {
  padding: 0;
}

.intro ul li {
  display: inline;
  margin: 15px;
}

/* Project List */

.projects {
  margin: 100px 0;
}

.excerpt, .section {
  margin: 100px 0;
}

.excerpt .title,
.section .title {
  font-size: 20px;
  text-align: center;
}

.excerpt .title a {
  text-decoration: none;
}

/* Project */

.meta {
  text-align: center;
  margin-bottom: 50px;
}

p.caption {
  font-size: 10px;
  text-align: right;
  margin: 0;
}