<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stuff Chris Made - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Skeleton CSS -->
        <link rel="stylesheet" href="/css/skeleton/base.css">
        <link rel="stylesheet" href="/css/skeleton/skeleton.css">
        <link rel="stylesheet" href="/css/skeleton/layout.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- jQuery -->
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

        <!-- Custom JS -->
        <script type="text/javascript" src="/js/main.js"></script>
    
        <!-- Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38944056-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

    </head>
    <body>

        <div class="container">

                {{ content }}

            <div class="footer sixteen columns">
              <p>Made by <a href="http://www.iammueller.com/">Chris</a><br />
                <a href="http://github.com/cmuellerrr/" target="_blank">github</a><br />
                <a href="http://twitter.com/cmuellerrr/" target="_blank">twitter</a><br />
                <a href="http://linkedin.com/in/cmuellerrr/" target="_blank">linkedin</a><br />
              </p>
            </div>
        </div> <!-- /container -->

    </body>
</html>
