---
layout: default
class: project
---

<div class="content project">

  <section class="lead">
    <h1>{{ page.title }}</h1>
    <p class="tagline">{{ page.tagline }}</p>

    <div class="meta">
      {% if page.team != null %}
        <p><b>Team:</b>
          {% for t in page.team %}
            {{ t }}{% if forloop.last == false %},{% endif %}
          {% endfor %}
        </p>
      {% endif %}

      {% if page.role != null %}
        <p><b>Role:</b> {{ page.role }}</p>
      {% endif %}

      {% if page.completed != null %}
        <p><b>Completed:</b> {{ page.completed }}</p>
      {% endif %}
    </div>
  </section>

  {{ content }}

</div>
